<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 수정</title>
</head>
<body>
<h2>회원 수정</h2>

<form th:action="@{/weonhyeok/update/{id}(id=${member.id})}" method="post">
    <label>이름:</label>
    <input type="text" name="userName" th:value="${member.userName}" required><br>

    <label>나이:</label>
    <input type="text" name="userAge" th:value="${member.userAge}" required><br>

    <input type="submit" value="수정 완료">
</form>

<br>
<a th:href="@{/weonhyeok}">← 목록으로 돌아가기</a>

</body>
</html>
